
<body>
    <div class="register-card">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <div class="mb-3 w-50 container">
                <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" placeholder="Enter Your Name" [ngClass]="{'is-invalid':f.submitted && name.errors}" autocomplete="on"  required>
                <div *ngIf="f.submitted && name.errors" class="invalid-feedback">
                    <div *ngIf="name.errors['required']">Name is required</div>
                </div>
            </div>
            <div class="mb-3 w-50 container">
                <input type="email" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" placeholder="Enter Your Email" [ngClass]="{'is-invalid':f.submitted && email.errors}" autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['pattern']">Email Must Be Valid </div>
                </div>
                <p [ngStyle]="{'display' : msg=='' ? 'none' : 'inline' }" style="z-index: 1; color: red;">{{msg}}</p>
            </div>
            <div class="mb-3 w-50 container">
                <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Enter Your Password" [ngClass]="{'is-invalid':f.submitted && password.errors }" autocomplete="on"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}" required>
                <div *ngIf="f.submitted && password.errors" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['pattern']"> Must contain at least one number and one uppercase and lowercase letter, and between 8 to 16 characters </div>
                </div>
            </div>

            <div class="container text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <div>
                <span class="login"> Have Account <a (click)="goToLogin()">Login Here</a></span>
            </div>
        </form>
    </div>

</body>
